body {
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    font-size: 0.85em;
    color: rgba(66,66,66,1);
}

main {
    width: 75%;
    background-color: #F2FCFC;
    display: flex;
    border-radius: 15px;
}

img {
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

section, form {
    margin: 50px 0;
    width: 50%;
    text-align: center;

}

form {
    padding-left: 40px;
}

section {
    box-shadow: 1px 0 lightgray;
    padding: 0 40px;
}

p {
    line-height: 1.7;
}

.signup-form {
    line-height: 2.5;
    text-align: left;
}

.signup-form h3, .testimonial h3 {
    text-transform: uppercase;
    font-weight: bold;
}

input {
    display: block;
    margin: 20px 0;
    background-color: transparent;
    border: none;
}


.type-inputs input {
    width: 75%;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    font-size: 1em;
}


input[type="checkbox"] {
    display: inline;
    margin: 10px 0;
}

button {
    border: 0;
    padding: 8px 25px;
    border-radius: 25px;
    background-color: darkblue;
    color: #FFF;
    font-size: 1.1rem;
    margin-top: 15px;
}
